# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries commonly used by data scientists
- Show three development environment open source tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Tensorflow
4. Pytorch

| Data Science Tools |
| ------------------ |
|RStudio|
|Jupyter Notebook|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
one_hour = 60
time = (minutes/one_hour)
print(time, " hrs")

3.3333333333333335  hrs

## Author
Alex Rivera